backend:
  name: github
  repo: drobkycz/drobky.cz
  branch: main
  base_url: https://drobky.cz
  auth_endpoint: /cms-auth/auth

local_backend: false

site_url: https://drobky.cz
display_url: https://drobky.cz
publish_mode: editorial_workflow

media_folder: public/uploads
public_folder: /uploads

locale: cs

collections:
  - name: posts
    label: Články
    folder: src/content/posts
    create: true
    slug: '{{slug}}'
    extension: md
    format: frontmatter
    fields:
      - { label: Titulek, name: title, widget: string }
      - { label: Perex, name: excerpt, widget: text }
      - { label: Datum publikace, name: publishDate, widget: datetime, date_format: 'YYYY-MM-DD', time_format: false }
      - { label: Doba čtení, name: readTime, widget: string, default: '5 min' }
      - label: Rubrika
        name: category
        widget: select
        options:
          - { label: Rybařina, value: rybarina }
          - { label: Střípky, value: stripky }
          - { label: Názory, value: nazory }
      - { label: Hlavní obrázek, name: coverImage, widget: image }
      - { label: Draft, name: draft, widget: boolean, default: false }
      - { label: Obsah, name: body, widget: markdown }
  - name: settings
    label: Nastavení webu
    files:
      - label: Rubriky
        name: rubriky
        file: src/content/settings/rubriky.yml
        fields:
          - label: Rubriky
            name: categories
            widget: list
            summary: '{{fields.title}}'
            min: 3
            max: 3
            fields:
              - { label: Název, name: title, widget: string }
              - { label: Popis, name: text, widget: string }
              - { label: Odkaz, name: href, widget: string, hint: 'Např. /rybarina' }
              - { label: Obrázek, name: image, widget: image }
